*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.in-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.in-container h1 {
color: rgb(241, 28, 28);
font-size: 80px;
}
.in-container h3 {
color: rgb(41, 48, 250);
    font-size: 30px;
    }